In [1]:
%run etl.py

Start process the SAS labels Description file ...

Debug read sas Labels files................

Type of lines is  <class 'list'>
To check PortCityState_df :
  PortCode                  CityName StateCode
0      ANC                 ANCHORAGE        AK
1      BAR  BAKER AAF - BAKER ISLAND        AK
2      DAC             DALTONS CACHE        AK
3      PIZ    DEW STATION PT LAY DEW        AK
4      DTH              DUTCH HARBOR        AK
PortCode     590
CityName     590
StateCode    590
dtype: int64

 ----------------------------------------------------
Start process the Immigration Data sas7dat ...


 Accumulating Read into sas_data Schema for 1 sas data files ....

3096313

 Schema of staging Immigra_data -------------------------------------

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|  6.0|2016.0|   4.0| 692.0| 692.0|    XXX|20573.0|   null|   null|   null|  37.0|    2.0|  1.0|    null|    null| null|      T|   null|      U|   null| 1979.0|10282016|  null|  null|   null| 1.897628485E9| null|      B2|
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|  3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|  6.66643185E8|   93|      B2|
| 16.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|  28.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1988.0|09302016|  null|  null|     AA|9.246846133E10|00199|      B2|
| 17.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|   4.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 2012.0|09302016|  null|  null|     AA|9.246846313E10|00199|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 5 rows


 Loading data to table ....

Show schema of D_DateTime_table ...

root
 |-- ArriveDate: string (nullable = true)
 |-- ArriveYear: integer (nullable = true)
 |-- ArriveMonth: integer (nullable = true)
 |-- ArriveDay: integer (nullable = true)
 |-- Arrive_DayOfWeek: string (nullable = true)
 |-- DepartureDate: string (nullable = true)

+----------+----------+-----------+---------+----------------+-------------+
|ArriveDate|ArriveYear|ArriveMonth|ArriveDay|Arrive_DayOfWeek|DepartureDate|
+----------+----------+-----------+---------+----------------+-------------+
|2016-04-29|      2016|          4|       29|          Friday|         null|
|2016-04-07|      2016|          4|        7|        Thursday|         null|
|2016-04-01|      2016|          4|        1|          Friday|   2016-08-25|
+----------+----------+-----------+---------+----------------+-------------+
only showing top 3 rows


 Write parquet of D_DateTime_table table  ... ...

Do Quality check: data existing and data consistency...

Data is Existing in target tables and is Consistent before and after Write parquet. OK NOW, MOVE NEXT!

 Process basic cleaning data before load to Fact_Immigrant table  ...

 show NaN values in dfS of Immigra_data...
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-------+-------+-------+-------+-------+-------+-------+------+-------+-------+------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|  occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender| insnum|airline|admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-------+-------+-------+-------+-------+-------+-------+------+-------+-------+------+-----+--------+
|    0|    0|     0|     0|     0|      0|      0|    239| 152592| 142457|   802|      0|    0|       1| 1881250|3088187|    238| 138429|3095921| 138429|    802|    477|414269|2982605|  83627|     0|19549|       0|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-------+-------+-------+-------+-------+-------+-------+------+-------+-------+------+-----+--------+


 Droping NaN values here prior to  load to tables ...


 To show how many rows is being dropped when filtered by i94cit and ... 0
Droping NaN  .......

to check any duplicated in dfS_ImmigAll ...


 Number of Immigra before drop_duplicates 3096313


 Drop duplicated by cicid for make sure cicid is unique for each Immigrant Info...

 Number of Immigra after drop_duplicates 3096313


 Loading data to table ....

Show schema of Fact_Immigrant table ...

root
 |-- Immig_Fact_ID: long (nullable = false)
 |-- cicid_Immigrant: double (nullable = true)
 |-- AirPortCode: string (nullable = true)
 |-- ArriveDate: string (nullable = true)
 |-- DepartureDate: string (nullable = true)
 |-- FromResidence: double (nullable = true)
 |-- VisaType: string (nullable = true)
 |-- AdminNumber: double (nullable = true)

+-------------+---------------+-----------+----------+-------------+-------------+--------+---------------+
|Immig_Fact_ID|cicid_Immigrant|AirPortCode|ArriveDate|DepartureDate|FromResidence|VisaType|    AdminNumber|
+-------------+---------------+-----------+----------+-------------+-------------+--------+---------------+
|            0|          299.0|        NYC|2016-04-01|   2016-04-06|        103.0|      WT|5.5425872433E10|
|            1|          305.0|        NYC|2016-04-01|   2016-04-11|        103.0|      WT|5.5425817433E10|
|            2|          496.0|        CHI|2016-04-01|   2016-04-04|        103.0|      WB|5.5428623333E10|
|            3|          558.0|        SFR|2016-04-01|   2016-04-03|        103.0|      WB|5.5433311133E10|
|            4|          596.0|        NAS|2016-04-01|   2016-04-03|        103.0|      WT|5.5406105433E10|
+-------------+---------------+-----------+----------+-------------+-------------+--------+---------------+
only showing top 5 rows

Writing parquet files for Fact_Immigrant_table ...

Do Quality check: data existing and data consistency...

Data is Existing in target tables and is Consistent before and after Write parquet. OK NOW, MOVE NEXT!

 Droping NaN values for Dim Immigration detail info ...


 How many rows were dropped with subset ['fltno'] ... 19549
Droping NaN  .......


 Loading data to table ....

Show schema of D_Immigrant_detail_table ...

root
 |-- cicid_Immigrant: double (nullable = true)
 |-- Citizenship: double (nullable = true)
 |-- ArriveStateCode: string (nullable = true)
 |-- DepartureDate: double (nullable = true)
 |-- ArriveMode: double (nullable = true)
 |-- BirthYear: double (nullable = true)
 |-- Gender: string (nullable = true)
 |-- FlightNumber: string (nullable = true)
 |-- MatchArriveDeparture: string (nullable = true)

+---------------+-----------+---------------+-------------+----------+---------+------+------------+--------------------+
|cicid_Immigrant|Citizenship|ArriveStateCode|DepartureDate|ArriveMode|BirthYear|Gender|FlightNumber|MatchArriveDeparture|
+---------------+-----------+---------------+-------------+----------+---------+------+------------+--------------------+
|          299.0|      103.0|             NY|      20550.0|       1.0|   1962.0|  null|       00087|                   M|
|          305.0|      103.0|             NY|      20555.0|       1.0|   1953.0|  null|       00087|                   M|
|          496.0|      103.0|             IL|      20548.0|       1.0|   1952.0|  null|       00065|                   M|
+---------------+-----------+---------------+-------------+----------+---------+------+------------+--------------------+
only showing top 3 rows

Do Quality check: data existing and data consistency...

Data is Existing in target tables and is Consistent before and after Write parquet. OK NOW, MOVE NEXT!
Finished process Immigration Data


 ----------------------------------------------------
Start process the UsCities Demographic data ...

Schema of staging UsCities .....

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: double (nullable = true)
 |-- Male Population: integer (nullable = true)
 |-- Female Population: integer (nullable = true)
 |-- Total Population: integer (nullable = true)
 |-- Number of Veterans: integer (nullable = true)
 |-- Foreign-born: integer (nullable = true)
 |-- Average Household Size: double (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: integer (nullable = true)

+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
|         City|        State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|              Race|Count|
+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
|Silver Spring|     Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|Hispanic or Latino|25924|
|       Quincy|Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|             White|58723|
|       Hoover|      Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|             Asian| 4759|
+-------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+------------------+-----+
only showing top 3 rows


 Show NaN values in dfS of UsCities_data...
+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+
|City|State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|Race|Count|
+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+
|   0|    0|         0|              3|                3|               0|                13|          13|                    16|         0|   0|    0|
+----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+----+-----+

----------------------------------------------------------------------------

 Rows number in UsCities before drop_duplicates with subset['City'] 2891

Drop duplicated with subset ['City'] ...


 Rows numbers in UsCities after drop_duplicates with subset['City'] 567


 Loading data to table ....

Show schema of Us_citites table after Joining ...

root
 |-- AirPortCode: string (nullable = true)
 |-- CityName: string (nullable = true)
 |-- StateCode: string (nullable = true)
 |-- StateName: string (nullable = true)
 |-- MedianAge: double (nullable = true)
 |-- TotalPopulation: integer (nullable = true)
 |-- Veterans: integer (nullable = true)
 |-- ForeignBorn: integer (nullable = true)
 |-- AvgHouseholdSize: double (nullable = true)
 |-- Race: string (nullable = true)

+-----------+--------+---------+-----------+---------+---------------+--------+-----------+----------------+--------------------+
|AirPortCode|CityName|StateCode|  StateName|MedianAge|TotalPopulation|Veterans|ForeignBorn|AvgHouseholdSize|                Race|
+-----------+--------+---------+-----------+---------+---------------+--------+-----------+----------------+--------------------+
|       null|   CHINO|       CA| California|     36.5|          85599|    4186|      18666|            3.62|American Indian a...|
|       null|STAMFORD|       CT|Connecticut|     35.4|         128877|    2269|      44003|             2.7|               Asian|
|       null|  YAKIMA|       WA| Washington|     34.0|          93700|    4705|      15717|            2.74|  Hispanic or Latino|
|       null|AMARILLO|       TX|      Texas|     33.8|         199651|   11008|      21124|            2.64|               White|
|       null|  MUNCIE|       IN|    Indiana|     27.4|          69701|    2968|       1062|            2.35|American Indian a...|
+-----------+--------+---------+-----------+---------+---------------+--------+-----------+----------------+--------------------+
only showing top 5 rows


 how many rows in new table ... 578

 verfiry any How many NULL in AirPortCode column 445
Start Writing parquet files for D_USCities_table ...

Do Quality check: data existing and data consistency...

Data is Existing in target tables and is Consistent before and after Write parquet. OK NOW, MOVE NEXT!
Finished for us-cities data file.

 ----------------------------------------------------
Start process the Airport data ...


 Schema of staging Airport ----------------

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: integer (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|     US-AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 3 rows


 to show NaN values in dfS of AirPort_data...
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|ident|type|name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|coordinates|
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|    0|   0|   0|        7006|        0|          0|         0|        5676|   14045|    45886|     26389|          0|
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+


 Rows number of AirPort dfS before drop_duplicates with subset ['ident', 'name'] is : 55075

Drop duplicate with subset ['ident', 'name']


 AirPort dfS after drop_duplicates with subset['ident', 'name'] 55075


 Loading data to table ....

Show schema of new D_Airport_table ...

root
 |-- AirPortCode: string (nullable = true)
 |-- AirPortID: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- AirportName: string (nullable = true)
 |-- CityName: string (nullable = true)
 |-- Elevation: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Coordinates: string (nullable = true)

+-----------+---------+--------------+--------------------+-------------------+---------+-------+--------------------+
|AirPortCode|AirPortID|          Type|         AirportName|           CityName|Elevation|Country|         Coordinates|
+-----------+---------+--------------+--------------------+-------------------+---------+-------+--------------------+
|       null|     OISA| small_airport|      Abadeh Airport|             ABADEH|     5320|     IR|52.66666793823242...|
|       null|     CYXX|medium_airport|  Abbotsford Airport|         ABBOTSFORD|      195|     CA|-122.361000061035...|
|       null|  CA-CAB5|      heliport|Abbotsford (Regio...|         ABBOTSFORD|      287|     CA|-122.314048558, 4...|
|       null|     ND07| small_airport|Punton Private Ai...|           ABSARAKA|     1105|     US|-97.4072036743164...|
|       null|  MX-0693|      heliport|Centro de Gob. de...|ACAPULCO DE JUÃ¡REZ|      108|     MX|-99.897661, 16.85...|
+-----------+---------+--------------+--------------------+-------------------+---------+-------+--------------------+
only showing top 5 rows


 how many rows in new table ... 55398

 verfiry any How many NULL in AirPortCode column 51792

 Writing and Reading Parquet files for dfS Airport ... ...

Do Quality check: data existing and data consistency...

Data is Existing in target tables and is Consistent before and after Write parquet. OK NOW, MOVE NEXT!

 ----------------------------------------------------
Start process the World Temperature data ...

to see how many rows in  dfS.count: 8599212

 Schema of staging Temp dfS--------------------------

root
 |-- dt: timestamp (nullable = true)
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

+-------------------+------------------+-----------------------------+-----+-------+--------+---------+